@mixin title {
  color: #fff;
  font-family: "DynaPuff", sans-serif;
  font-size: 80px;
  font-weight: 700;
}

@mixin sentence-title {
  color: #fff;
  text-align: center;
  font-family: "DynaPuff", sans-serif;
  font-size: 48px;
  font-weight: 700;
}

@mixin list-num {
  color: #fff;
  font-family: "DynaPuff", sans-serif;
  font-size: 48px;
  font-weight: 700;
}

@mixin list-text {
  color: #fff;
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  font-weight: 700;
}

@mixin ellipse {
  width: 268px;
  height: 512px;
  border-radius: 50%;
  border: 1px solid #737373;
}
