@import "variables";
@import "mixins";

*,
*::before,
*::after {
  font-family: "DynaPuff", sans-serif;
  font-family: "Manrope", sans-serif;
}

.header {
  background: $bg-banner;

  &__nav {
    padding: 41px 0 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__list {
    display: flex;
    margin-right: 173px;
  }

  &__list-item {
    padding: 10px 16px;
    border-radius: 20px;
    border: 1px solid #fff;
    cursor: pointer;
  }

  &__list-item + &__list-item {
    margin-left: 20px;
  }

  &__list-link {
    display: flex;
    align-items: center;
    color: #fff;
    font-family: "Manrope", sans-serif;
    font-size: 16px;
    font-weight: 700;
  }

  &__list-img {
    margin-right: 12px;
  }

  &__wrapper {
    padding: 394px 0 119px;
  }

  &__title {
    @include title;
  }
      
  &__btn {
    display: none;
    border: 1px solid #fff;
    padding: 20px;
    border-radius: 20px;
  }
}

.container {
  max-width: calc(1030px + 30px);
  margin: 0 auto;
  padding: 0 15px;
}

.meet {
  padding: 101px 0;
  background-color: $bg-meet;
  position: relative;
  overflow: hidden;

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__title {
    color: #faeb49;
    font-family: "DynaPuff", sans-serif;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 40px;
  }

  &__desr {
    max-width: 524px;
    color: #fff;
    font-family: "Manrope", sans-serif;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 40px;
  }

  &__list {
    display: flex;
  }

  &__list-item {
    display: flex;
    flex-direction: column;
  }

  &__list-item + &__list-item {
    margin-left: 96px;
  }

  &__list-num {
    @include list-num;
  }

  &__list-text {
    @include list-text;
  }

  &__ellipse-one {
    @include ellipse;
    transform: rotate(-45deg);
    position: absolute;
    right: 0px;
    top: -30px;
  }

  &__ellipse-two {
    @include ellipse;
    transform: rotate(45deg);
    position: absolute;
    right: 0px;
    top: -30px;
  }
}

.project {
  padding: 86px 0;
  background-color: $bg-project;

  &__cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  &__cards-item {
    padding: 15px;
    border-radius: 24px;
    background: #fffef2;
    max-width: 325px;
    position: relative;
  }

  &__cards-item::before {
    content: "";
    background-image: url(../images/project-5.png);
    position: absolute;
    width: 63px;
    height: 63px;
    right: 29px;
    top: 29px;
  }

  &__wrapper {
    display: flex;
    gap: 40px;
  }

  &__cards-img {
    width: 100%;
    object-fit: cover;
    margin-bottom: 20px;
  }

  &__cards-title {
    display: block;
    color: #565656;
    font-family: "DynaPuff", sans-serif;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 22px;
  }

  &__cards-text {
    max-width: 580px;
    color: #000;
    font-family: "Manrope", sans-serif;
    font-size: 16px;
    font-weight: 500;
  }
}

.fat {
  color: #565656;
  font-family: "DynaPuff", sans-serif;
  font-size: 40px;
  font-weight: 600;
}

.banner-card {
  max-width: 1030px;
  margin-bottom: 63px;
}

.design {
  background-color: $bg-meet;
  padding: 82px 0 138px;

  &__title {
    @include title;
    margin-bottom: 38px;
  }

  &__inner {
    display: flex;
    flex-wrap: wrap;
  }

  &__inner-item {
    position: relative;
  }

  &__wrapp {
    display: flex;
    gap: 27px;
  }

  &__inner-img {
    width: 100%;
    border-radius: 40px;
  }
}

.first::before {
  content: "";
  background-image: url(../images/design-4.svg);
  position: absolute;
  width: 268px;
  height: 268px;
  top: 16%;
  left: 37%;
}

.second::after {
  content: "";
  background-image: url(../images/design-5.svg);
  position: absolute;
  width: 191px;
  height: 187px;
  top: 26%;
  right: 29%;
}

.third::after {
  content: "";
  background-image: url(../images/design-6.svg);
  position: absolute;
  width: 233px;
  height: 225px;
  top: 26%;
  right: 29%;
}

.banner-design {
  margin-bottom: 26px;
}

.sentence {
  padding: 303px 0 323px;
  background-image: url(../images/sentence-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 800px;

  &__title {
    @include sentence-title;
  }
}

.footer {
  background-color: $bg-meet;
  padding: 78px 0 30px;

  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__link {
    max-width: 914px;
    padding: 42px 137px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 139px;
    border: 1px solid #f2f2f2;
    margin-bottom: 163px;
  }

  &__wrapp {
    margin-left: 177px;
  }

  &__link-ask {
    @include sentence-title;
    font-size: 45px;
    display: block;
    text-align: left;
    position: relative;
    margin-bottom: 17px;
  }

  &__link-ask::before {
    content: "";
    background-image: url(../images/footer-link1.svg);
    width: 108px;
    height: 108px;
    position: absolute;
    left: -179px;
    top: -1px;
  }

  &__link-text {
    color: #fff;
    text-align: left;
    font-family: "Manrope", sans-serif;
    font-size: 24px;
    font-weight: 500;
    position: relative;
  }

  &__link-text::after {
    content: "";
    background-image: url(../images/arrow.svg);
    width: 57px;
    height: 29px;
    position: absolute;
    left: 188px;
  }

  &__list {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__item {
    margin-bottom: 21px;
    padding-left: 34px;
  }

  &__item:first-child {
    padding-left: 0;
  }

  &__copyright {
    text-align: center;
    color: #fff;
    text-align: center;
    font-family: "Manrope", sans-serif;
    font-size: 16px;
    font-weight: 500;
  }
}

@media screen and (max-width: 768px) {
  .header {
    &__list {
      display: none;
    }

    &__btn{
      display: block;
    }
  }

  .meet {
    &__ellipse-one {
      @include ellipse;
      transform: rotate(-45deg);
      position: absolute;
      right: -137px;
      top: -30px;
    }

    &__ellipse-two {
      @include ellipse;
      transform: rotate(45deg);
      position: absolute;
      right: -137px;
      top: -30px;
    }
  }

  .project {
    &__cards-item:last-child {
      display: none;
    }
  }

  .design {
    .first::before {
      content: "";
      background-image: url(../images/design-4.svg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      position: absolute;
      max-width: 227px;
      height: 227px;
      top: 8%;
      left: 34%;
    }

    .second::after {
      content: "";
      background-image: url(../images/design-5.svg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      position: absolute;
      max-width: 147px;
      height: 151px;
      top: 26%;
      right: 29%;
    }

    .third::after {
      content: "";
      background-image: url(../images/design-6.svg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      position: absolute;
      max-width: 183px;
      height: 177px;
      top: 26%;
      right: 29%;
    }
  }

  .footer {
    &__link {
      max-width: 714px;
      padding: 16px 78px;
    }

    &__wrapp {
      margin-left: 97px;
    }

    &__link-ask::before {
      content: "";
      background-image: url(../images/footer-link1.svg);
      width: 108px;
      height: 108px;
      position: absolute;
      left: -144px;
      top: -2px;
    }
  }
}

@media screen and (max-width: 375px) {
  .header {
    &__title {
      font-size: 50px;
    }
  }

  .meet {
    &__title {
      max-width: 342px;
    }

    &__desr {
      max-width: 342px;
    }

    &__list {
      max-width: 342px;
    }

    &__list-item + &__list-item {
      margin-left: 14px;
    }

    &__ellipse-one {
      @include ellipse;
      max-width: 167px;
      height: 320px;
      transform: rotate(-45deg);
      position: absolute;
      right: -172px;
      top: 124px;
    }

    &__ellipse-two {
      @include ellipse;
      max-width: 167px;
      height: 320px;
      transform: rotate(45deg);
      position: absolute;
      right: -172px;
      top: 124px;
    }
  }

  .project {

    .adaptive:nth-child(1) {
      display: none;
    }

    .small-adaptive {
      max-width: 311px ;
      height: 278px;
      border-radius: 13px;
    }

    .fat {
      font-size: 35px;
    }

    &__cards-text{
      max-width: 311px;
      font-size: 15px;
    }

  }

  .design {
    &__title {
      max-width: 327px;
      font-size: 36px;
    }

    &__inner {
      display: flex;
      flex-direction: column;
    }

    .banner-design {
      margin-bottom: 0;
    }

    

    &__inner-img {
      max-width: 343px;
      height: 325px;
      object-fit: cover;
      margin-bottom: 32px;
    }

    &__wrapp {
      display: flex;
      flex-direction: column;
    }

    .first::before {
      content: "";
      background-image: url(../images/design-4.svg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      position: absolute;
      max-width: 172px;
      height: 172px;
      top: 19%;
      left: 23%;
    }

    .second::after {
      content: "";
      background-image: url(../images/design-5.svg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      position: absolute;
      max-width: 134px;
      height: 137px;
      top: 26%;
      right: 29%;
    }

    .third::after {
      content: "";
      background-image: url(../images/design-6.svg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      position: absolute;
      max-width: 148px;
      height: 143px;
      top: 26%;
      right: 29%;
    }
  }

  .sentence {
    &__title {
      max-width: 343px;
      font-size: 29px;
    }
  }

  .footer {
    &__link {
      max-width: 342px;
      padding: 10px 25px;
    }

    &__wrapp {
      margin: 0 5px 0 65px;
    }

    &__link-ask {
      font-size: 19px;
      margin-bottom: 4px;
    }

    &__link-text {
      font-size: 15px;
    }

    &__link-ask::before {
      content: "";
      background-image: url(../images/footer-link1.svg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      max-width: 52px;
      height: 51px;
      position: absolute;
      left: -69px;
      top: -3px;
    }

    &__link-text::after {
      content: "";
      background-image: url(../images/arrow.svg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      width: 33px;
      height: 16px;
      position: absolute;
      top: 3px;
      left: 132px;
    }
  }
}
